.tasklist{
    /* border: solid red 3px; */
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    height: 20rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.taskDetails{
    /* border: solid rebeccapurple 3px; */
    width: 28rem;
    height: 6.5rem;
    padding: 25px;
    background-color: #dee2e6;
    border-radius: 6px;
}

.tasklist::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.taskCount{
    background-color: #dee2e6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    gap: 15px;
}